.title {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #333333;
}
.body-1 {
  font-family: Lato;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #828282;
  box-sizing: border-box;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(183, 183, 204, 0.25),
    10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
  border-radius: 32px;
  height:44px;
  padding: .5rem  2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn-primary {
  background: #57419D;
  color: #FFFFFF;
}
img {
  max-width: 100%;
  object-fit: cover;
}
